.competition-boxes {
	h3 {
		background-color:#fefefe;
		position:relative;
		margin-bottom:-10px;
		padding-left:15px;
		@include top-border-radius(5px);
		border:1px solid #ededed;
		font-size:20px;
		.jo-logo-header {
			background:url('images/jo-logo.png') no-repeat 0px 0px;
			width:55px;
			height:32px;
			float:right;
			position:relative;
			right:10px;
			top:5px;
		}
	}
	h5 {
		font-size:16px;
		text-decoration:underline;
	}
	.register-cta {
		text-align:center;
	}
}