body {
  background: image-url('bg-layout-tile.jpg') 0px 0px repeat;
  // Remove Bootstrap's default padding on the body
  @include respond-to(mobile) {
    padding: 0;
    .mobile-padding {
      padding: 0 20px;
    }
  }   
}

.main {
  min-height: 500px;
}

.hr {
  background: #e8e8e8;
  width: 100%;
  height: 1px;
  margin: 40px 0;
}

.red-hr {
  height: 6px;
  width: 100%;
  background: image-url('bg-layout-redstripe.png') 0px 0px repeat-x;
}

.twitter-feed {
  width: 100%;
  height: 80px;
  background: image-url('bg-layout-twitter-stripe.png') 0px 0px repeat-x;
}

.padding-10 {
  padding: 10px;
}
.padding-15 {
  padding: 15px;
}
.padding-20 {
  padding: 20px;
}