.schedule-table {
	font-size:.9em;
	h1 {
		margin-left:20px;
		font-weight:100;
		span {
			color:#ddd;
		}
	}
	.matchup-details {
		color:#313232;
		&:nth-child(odd) {
			background:#d1d1d1;
		}
		p {
			width:220px;
			margin-left:0;
			float:left;
		}
		.game_details {
			p {
				width:140px;
				margin-left:20px;
				float:left;
				strong {
					display:none;
				}
				&:nth-child(1) {
					font-weight:bold;
				}
				&:nth-child(2) {
					width:80px;
				}
			}
		}
	}
}