.timedate {
	p {
		text-align:center;
		&:nth-child(1) {
			font-size:1em;
			margin-bottom:5px;
			text-transform:uppercase;
		}
		&:nth-child(2) {
			font-size:3.5em;
		}
	}
}

.link {
	p {
		text-align:center;
		font-size:1.3em;
		&.lead {
			font-size:1.5em;
			margin-bottom:10px;
			text-decoration:underline;
		}
	}
}