.timedate {
	p {
		text-align:center;
		&:nth-child(1) {
			font-size:1em;
			margin-bottom:5px;
			text-transform:uppercase;
		}
		&:nth-child(2) {
			font-size:3.5em;
		}
	}
}

.link {
	background:url('images/bg/rebel.png') repeat;
	color:#eee;
	p.lead {
		text-align:center;
		font-size:1.4em;
		margin:0;
		padding:10px 0;
		line-height:40px;
		@include lato;
	}
}

.social {
	width:300px;
	padding:10px 10px 0 10px;
	background:url('images/bg/rebel.png') repeat;
	margin-top:19px;
	.social-user {
		.user-img {
			margin-left:0;
			.insta-pro-pic {
				width:48px;
				height:48px;
			}
		}
		.user-bio {
			margin-left:5px;
			width:212px;
			p {
				&:nth-child(1) {
					font-weight:bold;
					font-size:1.1em;
					margin:3px 0 1px;
					color:#eee;
				}
				&:nth-child(2) {
					color:#707070;
				}
			}
		}
	}
	.tweet {
		margin-left:0;
		margin-top:10px;
		width:auto;
		padding:5px;
		border:1px solid #ccc;
		font-size:1.2em;
		line-height:1.4em;
		height:215px;
		overflow:hidden;
		background:url('images/bg/mooning.png') repeat;
		@include lato;

	}
	.instagram-photo {
		img {
			background:url('images/bg/mooning.png') repeat;
			height:211px;
			padding:8px;
			margin-left:10px;
			margin-top:10px;
		}
	}
}